*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: #f1f5f8;
}

.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

    &__wrapper {
        max-width: 600px;
        padding: 20px;
        display: grid;
        place-items: center;
        background-color: #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
}

.box{
    &__img {

    
    width: 200px;
    height: 200px;
 

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    }

    &__text {
        text-align: center;
        & h2 {
            text-transform: capitalize;
            font-size: 32px;
        }

        & p{
            text-align: justify;
            padding: 10px 0;
        }
    }

    &__btn {
        & button {
            padding: 12px 8px;
            outline: 0;
            text-transform: uppercase;
            margin: 0 5px;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 700;
        }

        &--dark{
            background-color: #000;
            color: #fff;
            border: 2px solid #fff;
        }


        &--light {
            background-color: #fff;
            border: 2px solid black;
        }
    }

    &__line {
        width: 100%;
        height: 2px;
        background-color: #000;
        margin: 10px 0;

    }
}